/** stylechooser **/

#stylechooser { position: fixed; top: 13%; left: -1px; width: 243px; min-height: 300px; z-index: 99999; padding: 0 0 15px 0; }
#stylechooser  #styleToggle { position: absolute; top: 2px; right: -47px; cursor: pointer; font-size: 0; color: transparent; width: 47px; height: 45px; margin: 0; border-bottom: 3px solid #4394a3; text-decoration: none;}
#stylechooser  #styleToggle i:before { font-size: 24px; color: #737373; top: 10px; left: 11px; position: absolute; }
#stylechooser .easyBox.flat { padding: 0 0 0 20px; width: 290px; }

#stylechooser .easyBox { margin: 0; padding: 0; background: #fff; }

#stylechooser hr { margin: 0; }
#stylechooser label { margin-bottom: 20px; font-weight:normal; }

#stylechooser .mkSpace {
    padding: 10px 20px;
}
#stylechooser .demoList { margin: 0 0 0 -10px; list-style: none; }
#stylechooser .demoList li { margin: 0 0 10px 10px; float: left; position: relative; }

#stylechooser .demoColor { display: block; width: 25px; height: 25px; background: transparent; }
#stylechooser .demoActive:before {
    content: "\f00c";
    position: absolute;
    top: 6px;
    left: 6px;
    font: 12px/1em 'FontAwesome';
    font-style: normal;
    color: #fff;
}

#stylechooser .light { margin: 0; line-height: 46px; }
#stylechooser .btn.btn-small { margin-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px; }


@media (max-width: 767px) {
	#stylechooser {
		display:none;
		height:0;
	}
}


/* fixes for demo */
.navbar .nav > li:hover > a{
  color: #424242 !important;
}